### Início

In [ ]:
# Uhul mais uma introdução ao python... que divertido...
nome = str(input("Nome: "))
idade = int(input("Idade: "))

nasc = 2023 - idade

print(f"Você nasceu em {nasc}, {nome}?")

Nome: Alisson
Idade: 22
Você nasceu em 2000, Alisson?

In [ ]:
nome = str(input("Nome: "))
nota = 0;

for i in range(3):
    nota += float(input(f"Nota {i+1}: "))

print(f"{nome}, sua média é: {nota/3:.2f}");

Nome: Alisson
Nota 1: 5
Nota 2: 5
Nota 3: 10
Alisson, sua média é: 6.67

___
___
### Aula 22-03 - Listas e bibliotecas

In [ ]:
lista = ["aaa", 1234, 'c']

for element in lista:
    print(element)

lista.append(500)
print(lista)

aaa
1234
c
['aaa', 1234, 'c', 500]
['aaa', 1234, 'c', 500]

Listas como pilhas (LIFO)

In [ ]:
stack = [1, 2, 3, 4, 5]
stack.append(6)
print(stack)

stack.pop()
print(stack)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5]

#### List comprehension
Extraindo apenas os nºs pares de uma lista para outra

In [ ]:
lista = list(range(1,11))
pares = []

# sem comprehension
for element in lista:
    if element % 2 == 0:
        pares.append(element)

print(lista)
print(pares)

# com comprehension
impar = [element for element in lista if (element % 2 != 0)]
print(impar)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

#### Exercícios

In [ ]:
import random

In [ ]:
# 1.
lista = []
print("Valores de uma lista")
for i in range(5):
    num = int(input(f"{i+1}º número: "))
    lista.append(num)

print()
print("Maior:", max(lista))
print("Menor:", min(lista))
print("Tamanho:", len(lista))
print("Último:", lista[-1], "\n")

In [ ]:
#2.
nomes = []

print("Sortear nome")
for i in range(5):
    nome = str(input(f"{i+1}º nome:"))
    nomes.append(nome)

print("Nome sorteado: ", random.choice(nomes), "\n")

In [ ]:
#3.
print("Média de 3 notas")
aluno = str(input("Nome: "))
notas = [];

for i in range(3):
    notas.append(float(input(f"Nota {i+1}: ")))

media = 0
for nota in notas:
    media += nota

print(f"{aluno}, sua média é: {media/3:.2f}");

In [ ]:
#4
lista = list(range(1,20, 3))
par = []
imp = []

for element in lista:
    if element % 2 == 0:
        par.append(element)
    else:
        imp.append(element)

print(f"Lista: {lista} \npares: {par} \nímpares: {imp}")

Lista: [1, 4, 7, 10, 13, 16, 19]
pares: [4, 10, 16]
ímpares: [1, 7, 13, 19]

In [ ]:
#5
n = int(input("Procure um nº na lista anterior: "))
if n in lista:
    print(f"{n} está na lista")

___
___
### Aula 29-03 - Filas

#### Exercício Senhas

In [ ]:
import random

In [ ]:
# Gere uma fila de senhas e permita o usuário inserir um número aleatório no final
fila = []

# Loop principal
opcao = 0
while True:
    if opcao == 4:
        break

    else:
        print(
        "\n===================\n",
        "Digite sua opção: \n", 
        "  1. Emitir senha \n",
        "  2. Mostrar fila \n",
        "  3. Chamar senha \n",
        "  4. Sair"
        )

        opcao = int(input("> "))

        if opcao == 1:
            fila.append(random.randint(100, 999) 
            print(f"--> Senha {senha} adicionada")
        
        elif opcao == 2:
            if len(fila) != 0:
                print(f"--> Fila: {fila}")
            else:
                print("--> A fila está vazia")

        elif opcao == 3:
            if len(fila) >= 1:
                print(f"--> Próxima senha: {fila[0]}")
                fila.pop(0)
            else:
                print("--> A fila está vazia")

#### Tuplas
Ordenada e imutável, usa menos memória *(o que é totalmente irrelevante no python)*

In [ ]:
tupla = (1, 2, 3, 4)
print(tupla)

(1, 2, 3, 4)

___
___
### Aula 05-04 - Pandas e dataframes

In [ ]:
import pandas as pd

In [ ]:
dados = pd.read_excel('/content/pessoas.xlsx')
dados

dados['IDADE']
dados[dados["NOME"] == 'Guilherme']

#transformando uma coluna do dataframe em uma lista
nomes = list(dados['NOME'])
nomes

idades = list(dados['IDADE'])

___
#### Execícios de revisão para a prova

##### Exercício 1

In [ ]:
import math

In [ ]:
P1 = [5.5, 5.0, 6.5, 7.0 ,5.7]
P2 = [6.7, 9.0, 5.0, 3.0, 6.6]

somaP1 = 0
somaP2 = 0

for contador in range(5):
    somaP1 += P1[contador]
    somaP2 += P2[contador]
mediaP1 = somaP1 / 5
mediaP2 = somaP2 / 5

if mediaP1 > mediaP2:
    print(f'A media maior é da prova1 : {mediaP1}')
elif mediaP2 > mediaP1:
    print(f'A media maior é da prova2 : {mediaP2}')

A media maior é da prova2 : 6.06

##### Exercício 2

In [ ]:
lista = [55, 423, 42, 65, 74, 457, 23, 15, 33, 100]
Par = []
Imp = []

for valor in lista:
    if valor %2 != 0:
        Imp.append(valor)
    elif valor %2 == 0:
        Par.append(valor)
print(f'A lista Impar é: {Imp}')
print(f'A lista Par é: {Par}')

A lista Impar é: [55, 423, 65, 457, 23, 15, 33]
A lista Par é: [42, 74, 100]

##### Exercício 3

In [ ]:

dias = ["Domingo", "Segunda", "Terça", "Quarta", "Quinta", "Sexta", "Sábado"]

num = int(input("Digite um número de 0-6 correspondente ao dia da semana, começando em Domingo \n"))

print(f"O {num}º dia da semana é: {dias[num]}")

Digite um número de 0-6 correspondente ao dia da semana, começando em Domingo
3
O 3º dia da semana é: Quarta

##### Exercício 4

In [ ]:
times = ("Palmeiras", "Água-Santa", "São Bernardo", "São Paulo", "Bragantino", "Corinthians", "Mirassol", "Guarani", "Botafogo SP", "Santo André")

print(f"Os três primeiros são: \n {times[:-3]}\n")
print(f"Os três últimos são: \n {times[7:]}\n")
print(f"Os times em ordem Alfabética são: \n {sorted(times)}\n")
print(f"O Corinthians esta na {times.index('Corinthians')}ª posição")

Os três primeiros são:
 ('Palmeiras', 'Água-Santa', 'São Bernardo', 'São Paulo', 'Bragantino', 'Corinthians', 'Mirassol')

Os três últimos são:
 ('Guarani', 'Botafogo SP', 'Santo André')

Os times em ordem Alfabética são:
 ['Botafogo SP', 'Bragantino', 'Corinthians', 'Guarani', 'Mirassol', 'Palmeiras', 'Santo André', 'São Bernardo', 'São Paulo', 'Água-Santa']

O Corinthians esta na 5ª posição

##### Exercício 5

In [ ]:
tabela = pd.read_excel("/content/base-de-dados-cliente.xlsx")
tabela

LOJAS = list(tabela['LOJA'])
GENEROS = list(tabela['GÊNERO'])
VALORES = list(tabela['VALOR'])

# Mostre todas as vendas acima de 250k e as lojas onde foram efetuadas
# Salve os dois em uma nova lista

In [ ]:
tabela

In [ ]:
# Mostre todas as vendas acima de 250k e as lojas onde foram efetuadas
# Salve os dois em uma nova lista  (usei dicionário)

val_loj = dict()

for i in range(len(VALORES)):
    # Se o valor > 250, usa-o como key no dicionário e o nome da loja como 
    # o value.
    if VALORES[i] > 250:
        val_loj[VALORES[i]] = LOJAS[i]

print(val_loj)

In [ ]:
# Mostre quantas vendas foram feitas para a cidade de Uberaba.
soma = 0;

for valor, loja in val_loj.items():
    if loja == "Uberaba":
        soma += valor

print(f"{soma} vendas foram realizadas na cidade de Uberaba")

In [ ]:
# Quantos clientes são do sexo feminino?
generos = list(tabela["GÊNERO"])

soma = 0
for sexo in generos:
    if sexo == 'Feminino':
        soma += 1;

print(f"Há {soma} clientes do sexo feminino")

In [ ]:
lista1 = [1, 2, 3]
lista2 = [4, 5, 6]

lista1.extend(lista2)

enumerate(lista1)

____
____
### Aula 19-04 - Dicionários

##### Correção da prova

In [ ]:
lista = [1,2,3,4,5,6,7,8]
print(lista[:-1])

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
listaA = [1,2,3]
listaB = [4,5,6]

for i in range(3):
    print(listaA[i] + listaB[i])

5
7
9

##### Dicionários
Coleção associativa ordenada representada por {chave, valor}

In [ ]:
pessoas = {'josé': 20, 'andré': 55, 'marquinhos': 11, 'paulo': 43}

pessoas['josé'] = 30;

pessoas['anderson'] = 100;

list(pessoas)

['josé', 'andré', 'marquinhos', 'paulo', 'anderson']

In [ ]:
# Adicionar itens com input e iterar  no dicionário
for k, v in pessoas.items():
    print(k,v)

josé 30
andré 55
marquinhos 11
paulo 43
anderson 100

In [ ]:
# Dicionários em lista
estado1 = {'uf': 'São Paulo', 'sigla': 'SP'}
estado2 = {'uf': 'Minas Gerais', 'sigla': 'MG'}

brasil = []

brasil.append(estado1)
brasil.append(estado2)

In [ ]:
# Retornar item da lista e item do dicionário
brasil[1]
brasil[1]['uf']

'Minas Gerais'

-----
---
### Aula 03-05 - Exercícios com Dicionários e vetores

#### Exercício 1
Crie uma agenda de contatos contendo nome e celular de n pessoas, armazenados em um dicionário. Em seguida crie métodos para consultar, inserir,  alterar, e deletar itens neste dicionário. Os dados devem ser lidos pelo teclado.

In [ ]:
agenda = dict()

while True:
    print("1. Consultar \n2. Inserir \n3. Alterar nº \n4. Remover")
    opcao = int(input("> "))

    print("\n")

    if opcao == 1:
        for k, v in agenda.items():
            print(k,v)

    elif opcao == 2:
        nome = input("Nome: ")
        num = input("Número: ")

        agenda[nome] = num
    
    elif opcao == 3:
        nome = input("Contato a alterar: ")
        num = input("Novo número: ")

        agenda[nome] = num

    elif opcao == 4:
        nome = input("Contato a remover: ")
        agenda.pop(nome)

    else:
        print("Chave inválida")

#### Exercício 2
Cadastre em uma tupla 5 nomes. Em seguida crie um dicionário onde a chave deverá ser um número aleatório entre 0 e 100 e o valor deverá ser os nomes cadastrados na tupla.**negrito**

In [ ]:
import random

nomes = ("vitao","alisson","guilherme","gabriel","gilberto")

dicio = {random.randint(0, 100): nomes[random.randint(0, 4)]} 

for k, v in dicio.items():
    print(k,v)

64 vitao

#### Exercício 3
Cadastre 5 funcionários em um dicionário, pelo teclado, com as seguintes chaves: nome, idade cargo salário. No final, mostre o conteúdo do dicionário ea média dos salários.

In [ ]:
funcionarios = []

for i in range(5):
    nome = input("Nome: ")
    idade = int(input("Idade: "))
    cargo = input("Cargo: ")
    salario = float(input("Salário: "))

    dic = {
        'Nome': nome,
        'Idade': idade,
        'Cargo': cargo,
        'Salário': salario
    }
    
    funcionarios.append(dic)

for pessoa in funcionarios:
    for k, v in pessoa.items():
        print("\n")
        print(f"{k}: {v}")

Nome: Alisson


Idade: 10


Cargo: Seila


Salário: 0


Nome: Alisson


Idade: 11


Cargo: Seila


Salário: 500


Nome: Alisson


Idade: 12


Cargo: Seila


Salário: 1000


Nome: Alisson


Idade: 13


Cargo: Seila


Salário: 1500


Nome: Alisson


Idade: 14


Cargo: Seila


Salário: 2000

#### Exercício 4
Carregue um vetor com 5 números inteiros e mostre o maior deles sem usar a função max()

In [ ]:
import numpy as np

num = np.array([2,5,6,4,9])

maior = 0

for i in np.nditer(num):
    if i > maior:
        maior = i

print("O maior da lista é:", maior)

O maior da lista é:  9

#### Exercício 5
Carregue um vetor com 3 notas e mostre a média das notas, sem usar a função mean().

In [ ]:
import numpy as np

notas = np.array([6.5, 8.3, 9.2])

soma = 0

for i in np.nditer(notas):
    soma = soma + i

print("Média das notas: ", soma/3)

Média das notas:  8.0

#### Exercício 6
Cadastre em vetores os nomes e as idades de 5 pessoas. Em seguida, mostre a idade e a pessoa mais velha cadastrada

In [ ]:
pessoas = np.empty(5, dict)

anciao = 0
indice = 0

for i in range(5):
    nome = input("Nome: ")
    idade = int(input("Idade: "))

    pessoas[i] = {idade: nome}

    if idade > anciao:
        anciao = idade
        indice = i

print(f"A pessoa mais velha é {pessoas[indice].get(anciao)} com {anciao} anos")

Nome: aaa
Idade: 11
Nome: bb
Idade: 22
Nome: cc
Idade: 33
Nome: dd
Idade: 44
Nome: ee
Idade: 55
A pessoa mais velha é ee com 55 anos

#### Exercício 7
Escreva um programa que armazene 5 números em um vetor e
mostre o menor deles.

In [ ]:
num = np.random.randint(100, size=(5))
menor = 101

for i in np.nditer(num):
    if i < menor:
        menor = i

print(num)
print("O menor da lista é:", menor)

[63 98  4 68 37]
O menor da lista é: 4

#### Exercício 8
Faça download do arquivo "base-dados-funcionarios", que se
encontra na sala do Classroom. Em seguida, crie 4 listas para cada
coluna do Dataframe criado. Em seguida, crie um dicionário onde a
chave sejam os nomes e o valor sejam as idades

In [ ]:
import pandas as pd

tabela = pd.read_excel("/content/base-dados-funcionarios.xlsx")

nomecol = list(tabela['NOME'])
idadecol = list(tabela['IDADE'])
proficol = list(tabela['PROFISSAO'])
salcol = list(tabela['SALARIO'])

linhas = tabela.shape[0]

pessoas = dict()

for i in range(linhas):
    pessoas[nomecol[i]] = idadecol[i]

for k, v in pessoas.items():
    print(f"{k}: {v} anos")

Luana: 18 anos
Paulo: 19 anos
Cláudio: 56 anos
Virginia: 34 anos
Lurdes: 45 anos
Maria: 44 anos
Nestor: 32 anos
Alexandre: 36 anos
Misael: 59 anos
Gustavo: 40 anos
Diana: 56 anos
Fernando: 17 anos
Isabela: 76 anos
Virgínia: 32 anos
Talita: 39 anos
Marcos: 59 anos
Geraldo: 23 anos
Monique: 21 anos
Yolanda: 24 anos
Vitor: 33 anos

-----
---
### Aula 10-05 - Prova A2

#### Exercício 1

In [ ]:
lista = [
    'Telefonou para a vítima?', 
    'Esteve no local do crime?',
    'Mora perto da vítima?',
    'Devia para a vítima?',
    'Já trabalho com a vítima?']

resposta = ''
contador = 0

for i in range(5):
    resposta = input(lista[i] + '(S/N)')

    if resposta != 'S' and resposta != 'N':
        print('Resposta inválida')
        break
    
    if resposta == 'S':
        contador += 1
print('')
if contador == 2:
    print('Pessoa suspeita.')
elif contador >= 3 and contador <= 4:
    print('Pessoa cúmplice.')
elif contador == 5:
    print('Pessoa assasina.')
else:
    print('Pessoa inocente.')

Telefonou para a vítima?(S/N)S
Esteve no local do crime?(S/N)S
Mora perto da vítima?(S/N)S
Devia para a vítima?(S/N)S
Já trabalho com a vítima?(S/N)S

Pessoa assasina.

### Exercício 3

In [ ]:
estoque = {
    "tomate": [1000, 2.30],
    "alface": [500, 0.45],
    "batata": [2000, 1.20],
    "feijão": [100, 1.50]
    }

resposta = ''

while resposta != 'N':
    print('=======================================')
    for k, v in estoque.items():
        print(f"{k} / QTD: {v[0]}, R$ {v[1]}")
        
    print('')
    opcao = input("Escolha um item: ")
    quantidade = int(input('Escolha a quantidade: '))
    valores = estoque.get(opcao)
    #Subtrai a quantidade           
    estoque[opcao] = [valores[0] - quantidade, valores[1]]

    print(f'O valor total da compra de {opcao} é: ', valores[1] * quantidade)
    resposta = input('Deseja continuar comprando? (S/N)')
    print('')

for k, v in estoque.items():
        print(f"{k} / QTD: {v[0]}, R$ {v[1]}")

print('=======================================')

=======================================
tomate / QTD: 1000, R$ 2.3
alface / QTD: 500, R$ 0.45
batata / QTD: 2000, R$ 1.2
feijão / QTD: 100, R$ 1.5

Escolha um item: alface
Escolha a quantidade: 2
O valor total da compra de alface é:  0.9
Deseja continuar comprando? (S/N)S

=======================================
tomate / QTD: 1000, R$ 2.3
alface / QTD: 498, R$ 0.45
batata / QTD: 2000, R$ 1.2
feijão / QTD: 100, R$ 1.5

Escolha um item: batata
Escolha a quantidade: 22
O valor total da compra de batata é:  26.4
Deseja continuar comprando? (S/N)n

=======================================
tomate / QTD: 1000, R$ 2.3
alface / QTD: 498, R$ 0.45
batata / QTD: 1978, R$ 1.2
feijão / QTD: 100, R$ 1.5

Escolha um item: tomate
Escolha a quantidade: 10
O valor total da compra de tomate é:  23.0
Deseja continuar comprando? (S/N)N

tomate / QTD: 990, R$ 2.3
alface / QTD: 498, R$ 0.45
batata / QTD: 1978, R$ 1.2
feijão / QTD: 100, R$ 1.5
=======================================